blockquote {
  font-style: italic;
  margin: 40px;

  &::before {
    content: "\201C";
    display: block;
    @include rem( font-size, $blockquote--font-size );
    height: 0;
    left: -20px;
    position: relative;
    top: -10px;
  }
}

.site-container {
  .wp-block-pullquote,
  .wp-block-quote {
    border: none;
    margin: 24px 24px 36px;

    p {
      font-family: "Source Sans Pro", serif;
      font-size: 21px;
      font-style: italic;
      line-height: 1.8;
      margin-bottom: 42px;
    }
  }

  .wp-block-pullquote p,
  .wp-block-quote.is-style-large p {
    font-size: 32px;
  }

  .wp-block-pullquote.is-style-solid-color p {
    color: #fff;
    margin-bottom: 42px;
    text-align: center;
  }

  .wp-block-pullquote.is-style-solid-color {
    background-color: #333;
  }

  .wp-block-pullquote:not(.is-style-solid-color)[style*="border-color"] {
    border: 2px solid;
    border-left: none;
    border-right: none;
  }

  .wp-block-pullquote cite,
  .wp-block-quote cite {
    color: #666;
    display: block;
    font-family: "Source Sans Pro", serif;
    font-size: 16px;
    font-style: italic;
    margin-top: -25px;
    text-align: inherit;
    text-transform: none;
  }

  .wp-block-pullquote cite {
    text-align: center;
  }

  .wp-block-pullquote.is-style-solid-color cite {
    color: #fff;
    font-style: italic;
  }

  .wp-block-pullquote .has-text-color cite,
  .wp-block-pullquote .has-text-color p {
    color: currentColor;
  }

  .wp-block-audio,
  .wp-block-embed,
  .wp-block-image {
    figcaption {
      color: #666;
      font-size: 16px;
      font-style: italic;
      margin-bottom: 30px;
      margin-top: 10px;
    }
  }
}

.wp-block-pullquote {
  &.alignleft {
    margin: 0 2em 1.5em 0;
  }

  &.alignright {
    margin: 0 0 1.5em 2em;
  }
}

.wp-block-pullquote.is-style-solid-color.alignleft blockquote,
.wp-block-pullquote.is-style-solid-color.alignright blockquote {
  max-width: 80%;
}