/* ## Forms
--------------------------------------------- */
input,
select,
textarea {
  background-color: $input__backgroundColor;
  border: 1px solid $input__borderColor;
  color: $input__textColor;
  font-size: rem( $input__fontSize );
  font-weight: $input__fontWeight;
  padding: 16px;
  width: 100%;
}

input:focus,
textarea:focus {
  border: 1px solid $input__borderFocusColor;
  outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  width: auto;
}

::-moz-placeholder {
  color: $input__placeholder__textColor;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: $input__placeholder__textColor;
}