/* Latest Posts Block
---------------------------------------------------------------------------- */

.site-container .wp-block-latest-posts {
  clear: both;
  margin-left: 0;
  padding-left: 0;

  li {
    list-style-type: none;
  }

  &.aligncenter {
    text-align: center;
  }

  &.alignfull {
    padding: 0 30px;
  }
}