//
// Widget title
//===================

.sidebar .widget-title a {
  color: $sidebar__widgetTitle__linkColor;
  text-decoration: none;
}

.widget-title {
  font-size: rem( $widgetTitle__fontSize );
  margin-bottom: 20px;
}