//
// Widget title
//===================

.sidebar .widget-title a {
  color: $sidebar__widgetTitle--link-color;
  text-decoration: none;
}

.widget-title {
  font-size: rem( $widget-title--font-size );
  margin-bottom: 20px;
}