//
// Comment respond
//==========================

.comment-respond {

  input[type="email"],
  input[type="text"],
  input[type="url"] {
    width: 50%;
  }

  label {
    display: block;
    margin-right: 12px;
  }

  @media only screen and (max-width: 860px) {
    padding: 30px;
    margin-bottom: 5%;
  }
}