/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
  float: right;
  text-align: right;
  width: $headerRight__width;

  @media only screen and (max-width: 1200px) {
    width: $headerRight__width__largeScreen;
  }

  @media only screen and (max-width: 1023px) {
    width: 100%;
    text-align: center;
  }
}