//
// Color variables
//=================================

$white: #fff;
$black: #000;
$gray: #eee;

$primary__color: #fe0e7b;
$secondary__color: #feb142;

$link__color: $primary_color;
$link__hoverColor: $secondary_color;

$base__color: $black;
$body__backgroundColor: $white;

// Form elements
$input__backgroundColor: $white;
$input__textColor: $black;
$input__borderColor: #ddd;
$input__borderFocusColor: $input__borderColor;
$input__placeholder__textColor: $black;

// Buttons

$button__backgroundColor: $primary__color;
$button__backgroundTextColor: $white;
$button__backgroundHoverColor: $secondary__color;
$button__backgroundHoverTextColor: $white;
$button__disabled__backgroundColor: $gray;
$button__disabled__backgroundTextColor: #777;

// Elements
$searchInput__backgroundColor: $input__backgroundColor;
$searchInput__textColor: $input__textColor;

$hr__borderColor: $gray;

$gallery__borderColor: $gray;
$gallery__borderHoverColor: #999;

$table__body__borderColor: $gray;
$table__cell__borderColor: $gray;

// Buttons
$button__backgroundColor: $primary__color;
$button__backgroundHoverColor: $secondary__color;
$button__textColor: $white;
$button__textHoverColor: $white;


// Header
$siteHeader_backgroundColor: $white;
$siteTitle__linkColor: $black;


// Navigation Colors
$nav__linkColor: $black;
$nav__linkHoverColor: #c3251d;

$subMenu__linkBackgroundColor: $white;
$subMenu__borderColor: $gray;

$primaryNav__linkColor: $black;
$primaryNav__backgroundColor: $white;
$primaryNav__borderColor: $gray;

$secNav__linkColor: $black;
$secNav__linkHoverColor: $nav__linkHoverColor;
$secNav__backgroundColor: $white;
$secNav__borderColor: $gray;

$jsNav__backgroundColor: $white;
$jsNav__linkHoverColor: $black;
$jsNav__linkFocusColor: #c3251d;

$toggle__backgroundColor: $white;
$toggle__color: $black;
$toggle__borderColor: $gray;

$pagination_backgroundColor: $white;
$pagination_backgroundHoverColor: #c3251d;
$pagination_linkColor: $black;
$pagination_linkHoverColor: $white;


// Entry Content

$entry__backgroundColor: $white;

$entryMeta__footer__borderColor: $gray;

$entryTitle_linkColor: $black;
$entryTitle_linkHoverColor: #c3251d;

$code__backgroundColor: $black;
$code__color: $gray;


// Comments

$comments_backgroundColor: $white;


// Widgets

$sidebar__widgetTitle__linkColor: $black;


// Plugins

$enews__input__borderColor: $white;
$enews__backgroundColor: $gray;
$enews__buttonColor: $button__backgroundColor;
$enews__buttonHoverColor: $button__backgroundHoverColor;
$enews__buttonTextColor: $button__textColor;
$enews__buttonTextHoverColor: $button__textHoverColor;

// General Components

$authorbox__backgroundColor: $white;
$breadrumb__backgroundColor: $white;
$afterEntry__backgroundColor: $white;
$archiveDescription__backgroundColor: $white;

// Footer

$siteFooter__backgroundColor: $white;
$siteFooter__borderColor: $gray;
$footerWidgets__backgroundColor: $white;