//
// Color variables
//=================================

$white: #fff;
$black: #000;
$gray: #eee;
$light-gray: #f5f5f5;

$primary-color: #fe0e7b;
$secondary-color: #feb142;

$link--color: $primary_color;
$link--hover-color: $secondary_color;

$base-color: $black;
$body--background-color: $white;

// Form elements
$input--background-color: $white;
$input--text-color: $black;
$input--border-color: #ddd;
$input--border-focus-color: $input--border-color;
$input--placeholder--text-color: $black;

// Buttons

$button--background-color: $primary-color;
$button--background-text-color: $white;
$button--background-hover-color: $secondary-color;
$button--background-hover-text-color: $white;
$button--disabled--background-color: $gray;
$button--disabled--background-text-color: #777;

// Elements
$search-input--background-color: $input--background-color;
$search-input--text-color: $input--text-color;

$hr--border-color: $gray;

$gallery--border-color: $gray;
$gallery--border-hover-color: #999;

$table-body--border-color: $gray;
$table-cell--border-color: $gray;

// Buttons
$button--background-color: $primary-color;
$button--background-hover-color: $secondary-color;
$button--text-color: $white;
$button--text-hover-color: $white;


// Header
$site-header--background-color: $white;
$site-title--link-color: $black;


// Navigation Colors
$nav--linkColor: $black;
$nav--link-hover-color: $primary-color;

$submenu--link-background-color: $white;
$submenu--border-color: $gray;

$primary-nav--link-color: $black;
$primary-nav--background-color: $white;

$secNav--linkColor: $black;
$secNav--link-hover-color: $nav--link-hover-color;
$secNav--background-color: $white;
$secNav--border-color: $gray;

$jsNav--background-color: $white;
$jsNav--link-hover-color: $black;
$jsNav--link-focus-color: $primary-color;

$toggle--background-color: $white;
$toggle--color: $black;
$toggle--border-color: $gray;

$pagination--background-color: $white;
$pagination--background-hover-color: $primary-color;
$pagination--link-color: $black;
$pagination--link-hover-color: $white;


// Entry Content

$entry--background-color: $white;
$entry-footer__meta--border-color: $gray;
$entry-title--link-color: $black;
$entry-title--link-hover-color: $primary-color;
$code--background-color: $black;
$code--color: $gray;


// Comments

$comments--background-color: $white;


// Widgets

$sidebar__widgetTitle--link-color: $black;

// General Components

$author-box--background-color: $white;
$breadrumb--background-color: $white;
$after-entry--background-color: $white;
$archive-description--background-color: $white;

// Footer

$site-footer--background-color: $white;
$site-footer--border-color: $gray;
$footer-widgets--background-color: $white;


//*** Plugins

// Genesis eNews Extended
$enews__input--border-color: $white;
$enews--background-color: $gray;
$enews__button--color: $button--background-color;
$enews__button--hover-color: $button--background-hover-color;
$enews__button--text-color: $button--text-color;
$enews__button--text-hover-color: $button--text-hover-color;

// WooCommerce
$wc__price-slider--background-color: $gray;
$wc__ui-slider-range--background-color: $secondary-color;
$wc__chosen-filter--color: $secondary-color;
$wc__shopping-cart-widget-total--border-color: $gray;
$wc__account-navigation--border-color: $gray;
$wc__account-navigation--active-item--link-color: $black;
$wc__breadcrumb--text-color: $black;
$wc__breadcrumb--link-color: $wc__breadcrumb--text-color;
$wc__breadcrumb--link-hover-color: $link--hover-color;
$wc__shop-table-cell--border-color: $gray;
$wc__message--background-color: $gray;
$wc__message--border-color: $secondary-color;
$wc__message-before--color: $secondary-color;
$wc__payment--background-color: $gray;
$wc__price--text-color: $secondary-color;
$wc__tabs--border-color: $gray;
$wc__tabs--background-color: $light-gray;
$wc__tabs--link-color: $black;
$wc__tabs--link-hover-color: $link--hover-color;
$wc__review-comment--text-color: $gray;
$wc__product-price-from--text-color: $black;
$wc__product-price--text-color: $secondary-color;
$wc__pagination-link--background-color: $light-gray;
$wc__pagination-link--text-color: $black;
$wc__pagination-link--background-hover-color: $black;
$wc__pagination-link--text-hover-color: $white;
$wc__onsale--background-color: $secondary-color;