
// Header

$siteTitle__fontSize: 30;
$siteTitle__fontWeight: 700;

$siteDescription__fontSize: 16;
$siteDescription__fontWeight: 400;

// Navigation

$nav__fontSize: 16;
$nav__fontWeight: 600;
$submenu__fontSize: 14;
$pagination__fontSize: 16;
$pagination__fontWeight: 600;

// Entry Content

$entryMeta__fontSize: 16;
$entryMeta__header__fontSize: 16;
$entryMeta__footer__fontSize: 16;

$entryTitle__fontSize: 36;

// Comments

$comments_fontSize: 16;

// Widgets

$widgetTitle__fontSize: 18;

$featuredContent__entryTitle__fontSize: 20;


// Footer

$siteFooter__fontSize: 16;
$footerWidgets__fontSize: 18;