
// Header

$siteTitle__fontSize: 30;
$siteTitle__fontWeight: 700;

$siteDescription__fontSize: 16;
$siteDescription__fontWeight: 400;

// Navigation

$nav__fontSize: 16;
$nav__fontWeight: 600;
$submenu__fontSize: 14;
$pagination__fontSize: 16;
$pagination__fontWeight: 600;

// Footer

$siteFooter__fontSize = 16;
$footerWidgets__fontSize = 18;