//
// Dimension variables
//=======================

// Header
$titleArea_width: 300px;

$headerImage_minHeight: 80px;

$headerRight__width: 800px;
$headerRight__width__largeScreen: 620px;


// Footer
$footerWidgets__width: 380px;
$footerWidgets__width__largeScreen: 300px;
