//
// Dimension variables
//=======================

$base--width: 1280px;
$gutter: 40px;

// Max widths
$max-width: $base--width;
$max-width-larger-screen: 1140px;
$max-width-large-screen: 960px;
$max-width-medium-screen: 800px;
$max-width-small-screen: 600px;

// Header
$title-area--width: 300px;
$header-image--min-height: 80px;
$headerRight--width: 800px;
$headerRight--width-large-screen: 620px;

// Content Widths
$content--width: 880px;
//$content--width: $base--width * 0.6875 + px; //880px
$content--width-larger-screen: 800px;
$content--width-large-screen: 620px;
$content--width-medium-screen: 800px;
$content-both-sidebars--width: 660px;
$content-both-sidebars--width-larger-screen: 580px;
$content-both-sidebars--width-large-screen: 400px;
$content-both-sidebars-wrap--width: 1060px;
$content-both-sidebars-wrap--width-larger-screen: 920px;
$content-both-sidebars-wrap--width-large-screen: 740px;

$primary-sidebar--width: 360px;
$primarySidebar--width-larger-screen: 300px;
//$primary-sidebar--width: $max-width - $content--width - $gutter; //360px;
$secondary-sidebar--width: 180px;

  // Footer
$footer-widgets--width: 380px;
$footer-widgets--width-large-screen: 300px;

$footer-widgets-header--enews--width: 900px;
$footer-widgets-header--enews--p--width: 470px;
$footer-widgets-header--enews--fields--mobile-width: 100%;