/* ### Content */

.content {
  float: right;
  width: $content__width;

  @media only screen and (max-width: $larger-screen) {
    width: $content__largerScreen__width;
  }

  @media only screen and (max-width: $large-screen) {
    width: $content__largeScreen__width;
  }

  @media only screen and (max-width: $medium-screen) {
    max-width: $content__mediumScreen__width;
  }

  .content-sidebar-sidebar &,
  .sidebar-content-sidebar &,
  .sidebar-sidebar-content & {
    width: $contentBothSidebars__width;

    @media only screen and (max-width: $larger-screen) {
      width: $contentBothSidebars__largerScreen__width;
    }

    @media only screen and (max-width: $large-screen) {
      width: $contentBothSidebars__largeScreen__width;
    }
  }

  .content-sidebar &,
  .content-sidebar-sidebar &,
  .sidebar-content-sidebar & {
    float: left;
  }

  .full-width-content & {
    width: 100%;
  }
}