/* ### Primary Sidebar */

.sidebar-primary {
  float: right;
  width: $primarySidebar__width;

  @media only screen and (max-width: $larger-screen) {
    width: $primarySidebar__largerScreen__width;
  }

  .sidebar-content &,
  .sidebar-sidebar-content & {
    float: left;
  }
}