/* ### Primary Sidebar */

.sidebar-primary {
  float: right;
  width: $primary-sidebar--width;

  @media only screen and (max-width: $larger-screen) {
    width: $primarySidebar--width-larger-screen;
  }

  .sidebar-content &,
  .sidebar-sidebar-content & {
    float: left;
  }
}