
/* ### Wrapping div for .content and .sidebar-primary */

.content-sidebar-wrap {
  .content-sidebar-sidebar &,
  .sidebar-content-sidebar &,
  .sidebar-sidebar-content & {
    width: $contentBothSidebarsWrap__width;

    @media only screen and (max-width: $larger-screen) {
      width: $contentBothSidebarsWrap__largerScreen__width;
    }

    @media only screen and (max-width: $large-screen) {
      width: $contentBothSidebarsWrap__largeScreen__width;
    }
  }

  .content-sidebar-sidebar & {
    float: left;
  }

  .sidebar-content-sidebar &,
  .sidebar-sidebar-content & {
    float: right;
  }
}