/* Blocks Page Template
---------------------------------------------------------------------------- */

.page-template-blocks {
  .site-inner {
    padding-top: 0;
  }

  .post-edit-link {
    display: block;
    text-align: center;
  }
}