/* ## Site Containers
--------------------------------------------- */

.site-inner,
.wrap {
  margin: 0 auto;
  max-width: $max-width;

  @media only screen and (max-width: $larger-screen) {
    max-width: $max-width-larger-screen;
  }

  @media only screen and (max-width: $large-screen) {
    max-width: $max-width-large-screen;
  }

  @media only screen and (max-width: $medium-screen) {
    max-width: $max-width-medium-screen;
  }
}

.site-inner {
  clear: both;
  padding-top: 40px;
  word-wrap: break-word;

  @media only screen and (max-width: $small-screen) {
    padding: 5% 5% 0;
  }
}

.wrap {
  @media only screen and (max-width: $small-screen) {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.landing-page .site-inner {
  max-width: $max-width-medium-screen;
}